################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/001_Expressions/.vs/001_Expressions/v16
